@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: "Pretendard-Regular", sans-serif;
}

body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.login {
  text-align: center;
  max-width: 320px;
  width: 100%;
  margin-top: 100px;
}

.logo {
  width: 120px;
  margin-top: 0px;
}

.join {
  font-size: 14px;
  color: #5c5c5c;
  margin-bottom: 40px;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.join a {
  color: #91bbff;
  font-weight: bold;
  text-decoration: none;
}

.input input {
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
}

.male,
.female {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  color: #858486;
  font-weight: 500;
  width: auto;
  padding: 16px;
  width: 49%;
}

.major {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  color: #858486;
  font-weight: 500;
  padding: 16px;
  width: 100%;
}

.next {
  padding: 14px;
  background-color: #cebeff;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 10px;
  font-weight: 600;
}

.next:hover {
  background-color: #bbaaf5;
}